
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title text-center mb-4">Login</h4>
  
            <form (ngSubmit)="onSubmit()" #form="ngForm">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  id="username"
                  name="username"
                  class="form-control"
                  [(ngModel)]="username"
                  required
                />
                <div *ngIf="form.submitted && !username" class="text-danger">
                  Username is required
                </div>
              </div>
  
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  id="password"
                  name="password"
                  type="password"
                  class="form-control"
                  [(ngModel)]="password"
                  required
                />
                <div *ngIf="form.submitted && !password" class="text-danger">
                  Password is required
                </div>
              </div>
  
              <button type="submit" class="btn btn-primary w-100" [disabled]="isLoading">
                {{ isLoading ? 'Logging in...' : 'Login' }}
              </button>
              <button type="button" class="btn btn-primary w-100 mt-3" (click)="openRegisterModal()" [disabled]="isLoading">
                Register
              </button>
  
              <ngb-alert *ngIf="errorMessage" type="danger" class="mt-3" [dismissible]="true">
                {{ errorMessage }}
              </ngb-alert>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-register (closeModal)="onRegisterModalClose()" [showModal]="showRegisterModal"></app-register>
