.video-container {
    display: flex;
    justify-content: space-around;
    video {
      width: 45%;
      height: auto;
      border: 2px solid #ccc;
      border-radius: 8px;
    }
  }
video {
  max-height: 300px;
  border-radius: 8px;
}

.list-group-item {
  cursor: pointer;
}