<app-navbar></app-navbar>
@if(currentUserName && currentUserName != ''){
  <div class="container-fluid mt-5">
    <div class="row">
      <!-- Main Video Area -->
      <div class="col-md-9">
        <h1 class="text-center mb-4">Welcome to CoffeeDates</h1>
        <p class="text-center">Connect with others through secure, real-time video chat.</p>

       <div class="video-call-container">
        <div class="video-call-container">
          <div class="video-wrapper">
            <video #localVideo autoplay muted playsinline class="video-box border" ></video>
            <video #remoteVideo autoplay playsinline class="video-box border" ></video>
          </div>

          <button class="btn btn-danger end-call-button mt-3" (click)="endCall()">
            End Call
          </button>
        </div>

      </div>

      <!-- Right Pane for Online Users -->
      <div class="col-md-3 border-start ps-3">
        <h5>Online Users</h5>
        <ul class="list-group">
          @if(onlineUsers.length > 0){
            <li *ngFor="let user of onlineUsers" class="list-group-item d-flex justify-content-between align-items-center">
              {{ user.userName }}
              @if(user.userName != currentUserName){
                <button class="btn btn-sm btn-outline-primary" (click)="sendCallRequest(user)">Call</button>
              }
            </li>
          }
          @else {
            <li class="list-group-item d-flex justify-content-between align-items-center">
              There are no users logged in
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
  <app-call-request-modal 
    [show]="incomingCallModalVisible"
    [username]="callerUsername"
    (accept)="handleCallAccept($event)"
    (reject)="handleCallReject($event)">
  </app-call-request-modal>
  <app-deny-request-modal
    [show]="showDenyModal"
    (ok)="handleCallDeny()">
  </app-deny-request-modal>
}
@else {
  <div  class="alert alert-success text-center" role="alert">
    Could not retrieve current user
  </div>
}